<?xml version="1.0"?>
<launch>
  <arg name="world" default="$(find-pkg-share livox_laser_simulation)/worlds/standardrobots_factory.world" />
  <arg name="livox_sensor" default="$(find-pkg-share livox_laser_simulation)/urdf/livox_avia.xacro" />

  <set_env name="GAZEBO_RESOURCE_PATH" value="/usr/share/gazebo-11"/>
  <include file="$(find-pkg-share gazebo_ros)/launch/gzserver.launch.py">
    <arg name="world" value="$(var world)"/>
  </include>
  <include file="$(find-pkg-share gazebo_ros)/launch/gzclient.launch.py">
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" exec="spawn_entity.py" args="-f $(command 'bash -c \'xacro $(var livox_sensor) > /tmp/livox_sensor.urdf; echo -n /tmp/livox_sensor.urdf\'') -entity livox_lidar" />
  <node name="rviz2" pkg="rviz2" exec="rviz2" args="-d $(find-pkg-share livox_laser_simulation)/rviz/livox_simulation.rviz"/>
</launch>
